body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.app {
  padding-bottom: 70px;
}

.content {
  padding: 20px;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.navDays {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.dayBtn {
  background: #1f1f1f;
  color: white;
  border: none;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}

.day {
  text-align: center;
  color: #ff4d6d;
}

.card {
  background: #1c1c1c;
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card input {
  background: #2a2a2a;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 6px;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #333;
}

.bottomNav button {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
}